<header>
  <div class="inner-block">
    <span class="category"><a href=''>Competition &amp; Markets Authority case</a></span>
    <h1><%= @document.title %></h1>
  </div>
  <div class="metadata">
    <dl class="inner-block">
      <dt>Opened date:</dt>
      <dd><%= nice_date_format @document.details.opened_date %></dd>

      <dt>Closed date:</dt>
      <dd><%= nice_date_format @document.details.closed_date %></dd>

      <dt>Page history:</dt>
      <dd>Updated <%= nice_date_format @document.updated_at %>
      </dd>

      <dt>Sector:</dt>
      <dd><a href="#"><%= @document.details.market_sector %></a></dd>

      <dt>Case type:</dt>
      <dd><a href="#"><%= @document.details.case_type unless @document.details.empty? %></a></dd>

      <dt>Case state:</dt>
      <dd><a href="#"><%= @document.details.case_state.capitalize unless @document.details.empty? %></a></dd>

      <dt>Outcome type:</dt>
      <dd><%= @document.details.outcome_type.capitalize unless @document.details.empty? %></dd>
    </dl>
  </div>
  <div class='summary'>
    <div class='inner-block'>
      <p>
        <%= @document.details.summary unless @document.details.empty? %>
      </p>
    </div>
  </div>
  <div class='updates'>
    <div class='inner-block'>
      Get updates to this case
      <ul>
        <li><a href='#'><span class='email'>get updates via</span>email</a></li>
        <li><a href='#'><span class='feed'>get updates via</span>feed</a></li>
      </ul>
    </div>
  </div>
</header>

<nav>
  <ol class="inner-block">
    <%= render 'nav_item', headings: @document.details['headers'] %>
  </ol>
</nav>

<div class="content">
  <div class="inner-block">
    <div class="govspeak">
      <%= @document.details.body.html_safe unless @document.details.empty? %>
    </div>
  </div>
</div>

<footer>
  <div class='history'>
    <div class="inner-block">
      <dl>
        <dt>Opened date:</dt>
        <dd><%= nice_date_format @document.details.opened_date %></dd>
        <% if @document.details.closed_date.present? %>
          <dt>Closed date:</dt>
          <dd><%= nice_date_format @document.details.closed_date %></dd>
        <% end %>
        <dt>Last updated:</dt>
        <dd><%= nice_date_format @document.updated_at %></dd>
      </dl>
    </div>
  </div>
  <div class='links'>
    <dl class='inner-block'>
      <dt>Sector:</dt>
      <dd><a href="#"><%= @document.details.market_sector %></a></dd>

      <dt>Case type:</dt>
      <dd><a href="#"><%= @document.details.case_type %></a></dd>

      <dt>Case state:</dt>
      <dd><a href="#"><%= @document.details.case_state.capitalize %></a></dd>

      <dt>Outcome type:</dt>
      <dd><%= @document.details.outcome_type.capitalize %></dd>
    </dl>
  </div>
</footer>

