<% content_for :page_title, [@document.title, @document.format_name].join(' ') %>
<% if @document.beta? %>
  <% if @document.beta_message %>
    <%= render partial: 'govuk_component/beta_label', locals: { message: @document.beta_message } %>
  <% else %>
    <%= render partial: 'govuk_component/beta_label' %>
  <% end %>
<% end %>

<header>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render partial: 'govuk_component/title', locals: {
        context: link_to(@document.format_name, @document.finder_path),
        title: @document.title,
        average_title_length: "long"
      } %>
    </div>
  </div>

  <%= render partial: 'govuk_component/metadata', locals: {
    from: @document.organisations.map { |org|
      link_to(org.title, org.web_url)
    },
    other: date_hash(@document.date_metadata).merge(
        metadata_hash(@document.metadata)
      )
  } %>

  <div class='summary'>
    <p>
      <%= @document.description %>
    </p>
  </div>
</header>
<div class="grid-row">
  <nav class="column-third sidebar">
    <ol class="js-stick-at-top-when-scrolling">
      <%= render 'nav_item', headings: @document.headers %>
    </ol>
  </nav>

  <div class="column-two-thirds">
    <%= render partial: 'govuk_component/govspeak', locals: {
      content: @document.body.html_safe
    } %>
  </div>
</div>

<footer class="js-footer">
  <%= render partial: 'govuk_component/document_footer', locals: {
    other_dates: date_hash(@document.expanded_extra_date_metadata),
    other: metadata_hash(@document.metadata),
    history: @document.change_history.reverse.map { |c|
      {
        display_time: nice_date_format(c.public_timestamp),
        timestamp: c.public_timestamp,
        note: c.note,
      }
    }
  }.merge(@document.footer_date_metadata) %>
</footer>
