<% content_for :page_title, [@document.title, @document.format_name].join(' ') %>
<header>
  <%= render partial: 'govuk_component/title', locals: {
    context: link_to(@document.format_name, @document.finder_path),
    title: @document.title
  } %>

  <%= render partial: 'govuk_component/metadata', locals: {
    from: @document.organisations.map { |org|
      link_to(org.title, org.web_url)
    },
    other: date_hash(@document.date_metadata).merge(
        metadata_hash(@document.metadata)
      )
  } %>

  <div class='summary'>
    <p>
      <%= @document.summary %>
    </p>
  </div>
</header>
<div class="grid-row">
  <nav class="column-third sidebar">
    <ol class="js-stick-at-top-when-scrolling">
      <%= render 'nav_item', headings: @document.headers %>
    </ol>
  </nav>

  <div class="column-two-thirds">
    <%= render partial: 'govuk_component/govspeak', locals: {
      content: @document.body.html_safe
    } %>
  </div>
</div>

<footer class="js-footer">
  <%= render partial: 'govuk_component/document_footer', locals: {
    published: nice_date_format(@document.published_at),
    other_dates: date_hash(@document.extra_date_metadata),
    other: metadata_hash(@document.metadata),
    history: @document.change_history.map { |c|
      {
        display_time: nice_date_format(c.public_timestamp),
        timestamp: c.public_timestamp,
        note: c.note,
      }
    }
  } %>
</footer>

